.btn-store {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #252c41;
  border-style: none;
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  font-family: Arial, "Roboto", Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  margin: 0;
  border: none;
}

.btn-store:hover {
  color: #252c41;
  background-color: #fff;
}

.btn-store.-second {
  background-color: transparent;
  border: 2px solid #fff;
  width: 218px;
  line-height: 54px;
  cursor: pointer;
}

.btn-store.-second:hover {
  color: #e24647;
  background-color: #fff;
}

.btn-store > a,
.btn-store > button {
  text-decoration: inherit;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  border: none;
}
