.header-store {

color: #fff;
overflow: hidden;
margin-bottom: 138px;
padding-left: 60px;
}

.header-store > .title {
  font-size: 40px;
  font-family: Arial, Roboto, Helvetica, sans-serif;
  float: left;
  text-transform: uppercase;
  cursor: pointer;
}

.header-store > .navigation {
  float: right;
  color: #fff;
  font-size: 21px;
  font-family: "Segoe UI", Roboto, Tahoma, Geneva, Verdana, sans-serif;
}

.header-store .action {
  text-decoration: none;
  color: inherit;
  margin-right: 60px;
}


.header-store [type="search"]{
  background-color: transparent;
  border: none;
  border-bottom:solid 1px #fff;
   color:inherit;
   font-family: Arial, Roboto, Helvetica, sans-serif;
   font-size: 20px;
   padding: 8px;
   width: 358px;
   margin-right: 65px;
   

   }

.header-store .action.-last {
  margin: : 0;
}


