.photo-product {
  background-color: #fff;
  width: 546px;
  height: 546px;
  display: inline-block;
  vertical-align: middle;
  border-bottom-right-radius: 150px;
  border-top-right-radius: 150px;
  margin-right: 157px;
}
