.wrap-product {
  width: 554px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.wrap-product > .buttons {
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100% + 98px));
}

.heart {
  position: absolute;
  transform: translateX(-100%);
  padding-right: 46px;
}
