body {
  height: 100vh;
  position: relative;
}
.container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
header {
  background-color: #e24647;
  overflow: hidden;
  padding: 55px 60px 95px;
  margin: 0 115px;
}

h1 {
  color: #fff;
  font-size: 40px;
  font-family: Arial, Roboto, Helvetica, sans-serif;
  float: left;
}

nav {
  float: right;
  color: #fff;
  font-size: 21px;
  font-family: "Segoe UI", Roboto, Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0 14px;
}

button {
  background-color: #252c41;
  border-style: none;
  width: 200px;
  height: 60px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 21px 60px;
  margin: 0px 115px;
}
